body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #1A1A1D;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
}

nav ul li a:hover {
    background-color: #cb2020;
}

.left-align {
    float: right;
}

.right-align {
    float: left;
}

#kites {
   font-size: xx-large;
   font-family: cursive;
   padding: 20px;
   color: white;
}

.highlight, .food-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.highlight img, .food-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    color: #4CAF50;
}

#firstpara {
    border-style: solid;
    border-width: 2px;
    background-color:#b2dbbf ;
    color: rgb(3, 111, 125);
    border-radius:2px;
}
